<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="questionFile" class="java.lang.String"  >
        <constructor-arg value="questions3.csv"/>
    </bean>
    <bean id="FileService" class="spring.cource.spring1.service.FileServiceImpl">
    </bean>

    <bean id="QuestionService" class="spring.cource.spring1.service.QuestionServiceImpl">
    </bean>

    </beans>


